body {
    background-color: #252525;
    font-family: 'Fira Code', monospace;
    color: #00cc00;
    font-size: 1.25rem;
}

.hero {
    background-color: #000;
}
.hero h1 {
     font-size: 4rem;
     font-weight: 700;
 }
 
 .navbar.navbar-expand-lg{
     background-color: #000;
     margin-bottom: 2rem;
}


 .nav-item .nav-link {
    color: #00cc00;
 }

 .navbar-brand {
     color: #00cc00;
 }

 button {
     border: 1px solid #00cc00;
     background-color: #252525;
     color: #00cc00;
 }

 .hidden {
     display: none;
 }

 .form-section {
    background-color: #000;
    margin-top: 2rem;
 }

 .encrypt-btn {
     display: inline;
 }

 @media only screen and (max-width: 600px) {
    body {
      font-size: 1rem;
    }
    .hero h1 {
        font-size: 2rem;
    }
    h2 {
        font-size: 1.5rem;
    }

  }
