body {
    background-color: #252525;
    font-family: 'Fira Code', monospace;
    color: #00cc00;
    font-size: 1.25rem;
}
 .light-green {
     color: #f1f7f1;
 }

.dark-green {
    color: #00cc00;
}

.center {
    margin: 0 auto;
}

.hero {
    background-color: #000;
}
.hero h1 {
     font-size: 4rem;
     font-weight: 700;
 }
 
 .navbar.navbar-expand-lg{
     background-color: #000;
     margin-bottom: 2rem;
}


 .nav-item .nav-link {
    color: #00cc00;
 }

 .navbar-brand {
     color: #00cc00;
 }

 button {
     border: 1px solid #00cc00;
     background-color: #252525;
     color: #00cc00;
 }

 img {
     width: 100%;
 }

 .hidden {
     display: none;
 }
 
 .vigenere-explained {
     display: inline-block;
 }

 .sample {
     color: #f1f7f1;
 }
 /*---------------- w3schools modals with modifications -------------------------*/
 .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    border-radius: 0;
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.6); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-contents {
    background-color: #000;
    margin: 2rem auto; /* 15% from the top and centered */
    padding: 20px;
    border: 2px solid #00cc00;
    width: 80%; /* Could be more or less, depending on screen size */
  }

  .modal-image {
      width: 100%;
  }
  
  /* The Close Button */
  .close {
    color: #006400;
    float: right;
    font-size: 3rem;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #00cc00;
    text-decoration: none;
    cursor: pointer;
  }
 
 

/*-------------------- Encryption fields ------------------*/
 .form-section {
    background-color: #000;
    margin-top: 2rem;
    padding-top: 1.5rem;
 }

 .input-container {
     border: 2px solid #252525;
 }

 .input-elements {
     width: 95%;
     margin: 0 auto;
 }

 .bar {
     width: 100%;
     height: 2px;
     background-color: #252525;
     margin-bottom: 1rem;
 }

 .encrypt-btn {
    margin-top: 1rem;
 }
 
 input {
     display: block;
     width: 50%;
     
 }

 input[type="number"] {
    width: 10%;
 }

 textarea {
     width: 100%;
    }

 .input-element {
    background-color: #000;
    border: 1px solid #006400;
    color: #00cc00;
    font-size: 1rem;
    transition: ease-in-out, box-shadow, 0.2s;
 }

.input-element:focus {
    outline: none;
    border: 1px solid #00cc00;
    box-shadow: 0 0 5px #00cc00;
    
 }

 .input-info {
     margin-bottom: 0;
     font-size: 1rem;
 }

 .output-field {
     min-height: 5rem;
     width: 100%;
     margin-top: 1.5rem;
     color: #f1f7f1;
     border: 1px solid #252525;
 }

 @media only screen and (max-width: 600px) {
    body {
      font-size: 1rem;
    }
    .hero h1 {
        font-size: 2rem;
    }
    h2 {
        font-size: 1.5rem;
    }

  }
/* -------------------- The Game -----------------------*/
  .start-button {
      position: absolute;
      top: 40%;
      left: 30%;
      right: 30%;
      width: 40%;
      height: 4rem;
      padding-top: 1rem;
      border: 1px solid #00cc00;
      text-align: center;
  }

  .start-button:hover {
      cursor: pointer;
  }

  .game-box {
      position: relative;
      width: 85%;
      margin: 2rem auto 12rem auto;
      border: 3px solid #00cc00;
      height: 20rem;
      background-color: #000;
  }

  .game-word-box {
      position: absolute;
      top: 20%;
      left: 20%;
      right: 20%;
      width: 60%;
      margin: 0 auto;
      text-align: center;
      background-color: #252525;
      padding: 1rem;
  }

  .game-user-input {
    position: absolute;
    top: 45%;
    left: 20%;
  }

  .check-button {
    position: absolute;
    top: 45%;
    left: 70.5%;
  }

  .alphabet-tool {
      position: absolute;
      top: 12rem;
      left: 15%;
  }

  .message-box {
      position: absolute;
      border: 1px dotted #00cc00;
      width: 50%;
      top: 2rem;
      left: 25%;
      text-align: center;
      padding: 1rem;
  }
  
  .message-box-wide {
      width: 90%;
      left: 5%;
  }

  .message {
      font-size: 3rem;
      font-weight: 700;
      text-transform: uppercase;
  }

  .score {
      position: absolute;
      width: 50%;
      top: 0.5rem;
      left: 0.5rem;
  }

  .time-remaining {
    position: absolute;
    width: 10%;
    top: 0.5rem;
    left: 45%;
    border: 1px dotted #00cc00;
    padding: 0.25rem;
    font-size: 1.5rem;
    text-align: center; 
  }

  .restore-website {
      margin: 0 auto;
      position: sticky;
      top: 30%;
      width: 10%;
      text-align: center;
      z-index: 1;
      border: 1px solid #00cc00;
      background-color: #000;
      cursor: pointer;
  }
  